.trending-post-slides .owl-prev{
    left: 10px!important;
}
.trending-post-slides .owl-next{
    left: 52px!important;
}

.most-viewed-videos-slide .owl-prev{
    left: 10px!important;
}
.most-viewed-videos-slide .owl-next{
    left: 52px!important;
}

.sports-videos-slides .owl-prev{
    left: 10px!important;
}
.sports-videos-slides .owl-next{
    left: 52px!important;
}
.breakpoint-off .classynav ul li .megamenu{
    text-align: right!important;
}
.breakpoint-off .classynav ul li .dropdown{
    text-align: right;
}
.header-area .mag-main-menu .top-search-area{
    display: none!important;
}
.section-heading h5{
    font-size: 17px!important;
}
.classy-menu{
    text-align: right!important;
    direction: rtl!important;
}
.classynav ul li a{
    letter-spacing: 0px!important;
}
.classynav ul li.has-down > a:after{
    padding: 5px!important;
}
.video-text{
    letter-spacing: 0px!important;
}
.reform_rtl{
    direction: rtl;
}